.customNavColor{
   background-color: chocolate !important; 

}

.nav-link{
    color: white;
}

.active{
    color: chartreuse !important;
}

.card{
    margin-top: 10px;
}

.customEx{
    height: 50px;
}